%form{:action => login_path, :method => "post"}
  %label.name{:name => "email"} Email
  %input#email{:name => "email"}
  %label.password{:name => "password"} Password
  %input#password{:name => "password", :type => "password"}
  %button#submit Submit
  %br
  =link_to 'Create an Account', new_user_path
